.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajusta la altura del contenedor según tus necesidades

  ion-card {
    max-width: 300px; // Ajusta el ancho del card
    margin: 0 auto; // Centra el card horizontalmente

    ion-card-content {
      ion-item {
        margin: 0.5rem 0; // Añade un poco de espacio entre los elementos

        ion-label {
          font-size: 14px; // Ajusta el tamaño de la etiqueta
        }

        ion-input {
          font-size: 14px; // Ajusta el tamaño del input
        }
      }

      ion-button {

        font-family: 'Courier New', Courier, monospace;
        font-size: 11px;
        display: inline-block;
        width: 48%; // Divide el espacio en dos para alinear los botones uno al lado del otro
        margin: 0.5rem 1%; // Añade un margen entre los botones


      }
    }
  }
}
