<div id="contenedor" class="container">
  <ion-card>
  <ion-toolbar>
    <ion-title>Nuevo Topping</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Nombre del Topping:</ion-label>
    <ion-input type="text" [(ngModel)]="order.name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descipcion de Topping</ion-label>
    <ion-input type="text" [(ngModel)]="order.description" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de licor</ion-label>
    <ion-select placeholder="Tipo de licor" [(ngModel)]="selectedLiquors" multiple="true" >
      <ion-select-option *ngFor="let liquor of liquorOptions" [value]="liquor">{{ liquor }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Selecciona los acompañantes:</ion-label>
    <ion-select placeholder="Acompañantes" [(ngModel)]="selectedAccompaniments" multiple="true" >
      <ion-select-option *ngFor="let accompaniment of accompanimentOptions" [value]="accompaniment">{{ accompaniment }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Valor</ion-label>
    <ion-input type="number" [(ngModel)]="order.valor" required></ion-input>
  </ion-item>

  <div class="center-buttons">
    <button type="button" class="btn btn-success button-icon" (click)="agregarTopping()">
      <span class="material-symbols-outlined" >shopping_cart</span>Publicar nuevo Topping   </button>
    <button  type="button" class="btn btn-danger button-icon" (click)="Cancelar()">
      <span class="material-symbols-outlined">cancel</span>Cancelar Topping
    </button>
  </div>


  <br>
  </ion-card>
  </div>
