
<div class="container">
  <ion-card>
    <ion-header>
      <ion-card-title>Bienvenido! a Cocctel Bufet</ion-card-title><br>
    </ion-header>

    <ion-row class="menu-buttons">
      <ion-col>
        <ion-button expand="full" (click)="Nuevo()">Nuevo Toping</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="Historial()">Historial de Toping</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="Perfil()">Perfil</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="Salir()">Salir</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
