#button{
 width: 192px;
 height: 50px;
 border-radius: 10px;

}
#contenedor{
width: 500px;
}

.center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Aplica estilos a los botones */
.button-icon {
  display: flex;
  align-items: center;
  gap: 10px; /* Aumenta el espacio entre el ícono y el texto */
}

.btn-success, .btn-danger {
  margin: 0 5px; /* Aumenta el margen horizontal entre los botones */
}

.btn-success .material-symbols-outlined, .btn-danger .material-symbols-outlined {
  font-size: 20px; /* Ajusta el tamaño del ícono */
}
