
<div class="container" >
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-title">Coctel Bufet</ion-card-title>
      <ion-card-subtitle class="custom-subtitle">Bienvenido a Coctel Bufet</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="custom-content">
      <ion-button color="warning" class="custom-button"  (click)="Login()">Login</ion-button>
      <ion-button color="primary" class="custom-button" (click)="Register()">Registro</ion-button>
    </ion-card-content>
  </ion-card>
</div>
