.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-card {
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.custom-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.custom-subtitle {
  font-size: 16px;
  color: white;
}

.custom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.custom-button {
  margin: 10px;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #333;
  color: #fff;
}



